.header-wrap{
    background-color: rgba(0,0,0,0.3);
    .header{
        width: 100%;
        max-width: 1045px;
        padding: 1rem;
        margin: 0 auto;
        img {
            height: 40px;
            width: auto;
        }
    }
}

@media (min-width: 544px) {
    .header-wrap{
        .header{
            padding: 1.5rem;
        }
    }
}
