$color-main: #ff3d3d;
$color-bg: #333;
$color-font: #fff;
$color-imdb: #f5de50;

$font-size-s: 1rem;
$font-size-m: 1.2rem;
$font-size-l: 1.4rem;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
};
body {
    background-color: $color-bg;
    color: $color-font;
};

.no-content {
    text-align: center;
    margin-top:30px;
}

@import "header";
@import "movie";
@import "related";
