.movie-container {
    position: relative;
    max-width: 1045px;
    margin: 0 auto;
    .movie-hero {
        position: relative;
        margin: 0 auto;
        max-width: 960px;
        height: 380px;
        background-size: cover;
        background-position: center center;
        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
        &:before {
            box-shadow: inset 0 -10rem 16rem 4rem rgba($color-bg,1);
        }
        h1.movie-title{
            position: absolute;
            bottom: 8rem;
            font-size: 1.5rem;
            padding: 0 1rem;
            width: 100%;
            z-index: 1;
            text-align: center;
        }
    }
    .movie-fake-play {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        a {
            margin: -7rem auto 0 auto;
            opacity: 0.5;
            background-image: url("../img/play.png");
            background-size: 100%;
            width: 4rem;
            height: 4rem;
            position: relative;
            cursor:pointer;
            top: 50%;
            display: block;
            color: transparent;
            &:hover {
                opacity: 0.9;
            }
        }
    }
    .movie-meta-container {
        background-color: rgba(0,0,0,0.5);
        padding: 1.5rem 1rem;
        position: relative;
        margin-top: -7rem;
        .movie-imdb {
            background: $color-imdb;
            color: #000;
            font-weight: 700;
            padding: 0.2rem 0.5rem;
            border-radius: 0.2rem;
        }
        .movie-duration {
            margin-left: 15px;
            font-size: $font-size-m;
        }
        .movie-synopsis, .movie-actors {
            span {
                display: block;
                font-weight: 700;
            }
            margin-top: 20px;
        }
    }
}
@media (min-width: 768px) {
    .movie-container {
        .movie-hero {
            height: 540px;
            &:after {
                box-shadow: inset 0 0 7rem 6rem $color-bg;
            }
            .movie-fake-play {
                a {
                    width: 6rem;
                    height: 6rem;
                }
            }
            h1 {
                font-size: 2rem;
                padding: 0 4rem;
                bottom: 10rem;
            }
        }
        .movie-meta-container {
            padding: 1.5rem 2rem;
        }
    }
}
