$poster-width: 199px;
$poster-height: 298px;
$poster-margin: 5px;

.related-wrap{
    max-width: 5*$poster-width + 5*2*$poster-margin;
    margin: 0 auto;
    h2 {
        font-size: 1.2rem;
        margin: 30px $poster-margin 15px $poster-margin;
    }
    ul {
        display: block;
        width: 100%;
        max-width: 5*$poster-width + 5*2*$poster-margin;
        list-style: none;
        li.related-movie {
            width:50%;
            float: left;
            position: relative;
            display: block;
            cursor: pointer;
            padding: 2px $poster-margin;
            h3{
                position: absolute;
                z-index:1;
                bottom: 10px;
                padding: 10px;
                font-size: 1rem;
            }
            .overlay {
                position: absolute;
                top: 50%;
                bottom: 7px;
                left: $poster-margin;
                right: $poster-margin;
                background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
            }
            img {
                position:relative;
                width: 100%;
                height: auto;
                z-index: -1;
            }
        }
    }
}
@media (min-width: 544px) {
    .related-wrap {
        ul {
            li.related-movie {
                width:33%;
            }
        }
    }
}
@media (min-width: 768px) {
    .related-wrap {
        h2 {
            font-size: 1.5rem;
        }
        ul {
            li.related-movie {
                width:25%;
                h3{
                    font-size: 1.17rem
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .related-wrap {
        ul {
            li.related-movie {
                width:20%;
            }
        }
    }
}
